<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="utf-8">
    <title>Home Screen</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
</head>
<div class="navbar-wrapper">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
</div>
<body>
    
  <div class="night">
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
  </div>
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
    <div class="title">
    <h1>Touch to Enter</h1>
    </div>
    <mat-icon class="touch-icon">touch_app</mat-icon>
    <div class="moon"></div>
    <div class="spotify-wrapper">
        <div class="spotify">
            <app-audio-player></app-audio-player>
        </div>
    </div>
    <div class="grass">
        <img id="left-grass" src="../../assets/images/grassy.png">
        <img id="right-grass" src="../../assets/images/grassy.png">
    </div>
</body>
</html>
